In [36]:
import sys
import os

module_path = os.path.abspath(os.path.join('..'))

if module_path not in sys.path:
    sys.path.append(module_path)

print('Successfully imported modules from data_cleaner!')

Successfully imported modules from data_cleaner!

In [37]:
import pandas as pd
import numpy as np
from noventis import data_cleaner


sample_data = {
    'age': [25, 30, np.nan, 45, 50, 200, 28, 35, 29],
    'salary': [50000, 60000, 75000, 80000, 55000, 65000, 90000, np.nan, 72000],
    'city': ['Jakarta', 'Bandung', 'Jakarta', 'Surabaya', 'Bandung', 'Jakarta', 'Medan', 'Bandung', 'Jakarta'],
    'education': ['S1', 'S2', 'S1', 'S3', 'S1', 'S2', 'S1', np.nan, 'S1'],
    'satisfaction': [8, 9, 7, 9, 8, 3, 7, 8, 9] # Kolom target
}
df_raw = pd.DataFrame(sample_data)

print("Raw Data:")
df_raw.head()

Raw Data:

    age   salary      city education  satisfaction
0  25.0  50000.0   Jakarta        S1             8
1  30.0  60000.0   Bandung        S2             9
2   NaN  75000.0   Jakarta        S1             7
3  45.0  80000.0  Surabaya        S3             9
4  50.0  55000.0   Bandung        S1             8

In [38]:
df_raw

     age   salary      city education  satisfaction
0   25.0  50000.0   Jakarta        S1             8
1   30.0  60000.0   Bandung        S2             9
2    NaN  75000.0   Jakarta        S1             7
3   45.0  80000.0  Surabaya        S3             9
4   50.0  55000.0   Bandung        S1             8
5  200.0  65000.0   Jakarta        S2             3
6   28.0  90000.0     Medan        S1             7
7   35.0      NaN   Bandung       NaN             8
8   29.0  72000.0   Jakarta        S1             9

In [45]:

df_cleaned = data_cleaner(
    data=df_raw,
    target_column='satisfaction'
)

=====================================================
||      NOVENTIS AUTOMATED DATA CLEANER      ||
=====================================================
Target column 'satisfaction' identified.
STARTING NOVENTIS DATA CLEANER PIPELINE
==================================================

Executing Step: IMPUTE...
Step IMPUTE Complete.

Executing Step: OUTLIER...
Step OUTLIER Complete.

Executing Step: ENCODE...
============================================================
üöÄ NOVENTIS ENCODER - ANALYSIS REPORT
============================================================
üìä Analyzed 2 categorical columns


üìã ENCODING SUMMARY
----------------------------------------
   OHE: 2 columns

üìä DETAILED COLUMN ANALYSIS
----------------------------------------
   city:
      Method: OHE
      Unique values: 4
      Target correlation: 0.000
      Memory impact: 0.0 MB

   education:
      Method: OHE
      Unique values: 3
      Target correlation: 0.000
      Memory impact: 0.0 MB

============================================================
üîÑ Transforming data...
‚ùå Error encoding column 'city': name 'encoder' is not defined
‚ùå Error encoding column 'education': name 'encoder' is not defined
‚úÖ Successfully transformed 0 columns
Step ENCODE Complete.

Executing Step: SCALE...

üìã SCALING SUMMARY
----------------------------------------
   - STANDARD: 2 columns

üìä DETAILED REPORT
----------------------------------------
  Column: age
     - Method: STANDARD
     - Reason: p-value 0.207 > 0.05
     - Skewness: 0.51 | Outlier Ratio: 0.00%
  Column: salary
     - Method: STANDARD
     - Reason: p-value 0.966 > 0.05
     - Skewness: 0.08 | Outlier Ratio: 0.00%
============================================================
Step SCALE Complete.

PIPELINE FINISHED
==================================================

====================== DATA QUALITY REPORT ======================

--- OVERALL DATA QUALITY SCORE ---
  Final Quality Score: 66.67/100
     - Completeness Score                 : 100.00     (Weight: 40%)
     - Data Consistency Score             : 88.89      (Weight: 0%)
     - Distribution Improvement Score     : 0.00       (Weight: 20%)
     - Dimensionality Efficiency Score    : 0.00       (Weight: 10%)

--- PIPELINE PROCESS SUMMARY ---
  - Imputation: Successfully filled 3 missing values.
  - Outliers: Removed 1 rows identified as outliers.
  - Encoding: Transformed 2 categorical columns into 7 new features.
  - Scaling: Standardized the scale for 2 numerical columns.

--- AUTOMATIC DECISION DETAILS ---
  - SCALING:
    - Column 'age': Used 'STANDARD' because: p-value 0.207 > 0.05.
    - Column 'salary': Used 'STANDARD' because: p-value 0.966 > 0.05.
  - ENCODING:
    - Column 'city': Selected method 'OHE'.
    - Column 'education': Selected method 'OHE'.

=================================================================

In [40]:
df_cleaned

        age    salary      city education
0 -1.143871 -1.506730   Jakarta        S1
1 -0.672172 -0.705145   Bandung        S2
2  1.686325  0.497233   Jakarta        S1
3  0.742927  0.898026  Surabaya        S3
4  1.214626 -1.105937   Bandung        S1
6 -0.860851  1.699611     Medan        S1
7 -0.200472 -0.033817   Bandung        S1
8 -0.766512  0.256758   Jakarta        S1

STARTING NOVENTIS DATA CLEANER PIPELINE
==================================================

Executing Step: IMPUTE...
Step IMPUTE Complete.

Executing Step: OUTLIER...
Step OUTLIER Complete.

Executing Step: ENCODE...
============================================================
üöÄ NOVENTIS ENCODER - ANALYSIS REPORT
============================================================
üìä Analyzed 2 categorical columns


üìã ENCODING SUMMARY
----------------------------------------
   OHE: 2 columns

üìä DETAILED COLUMN ANALYSIS
----------------------------------------
   city:
      Method: OHE
      Unique values: 4
      Target correlation: 0.000
      Memory impact: 0.0 MB

   education:
      Method: OHE
      Unique values: 3
      Target correlation: 0.000
      Memory impact: 0.0 MB

============================================================
üîÑ Transforming data...
‚ùå Error encoding column 'city': name 'encoder' is not defined
‚ùå Error encoding column 'education': name 'encoder' is not defined
‚úÖ Successfully transformed 0 columns
Step ENCODE Complete.

Executing Step: SCALE...

üìã SCALING SUMMARY
----------------------------------------
   - STANDARD: 2 columns

üìä DETAILED REPORT
----------------------------------------
  Column: age
     - Method: STANDARD
     - Reason: p-value 0.207 > 0.05
     - Skewness: 0.51 | Outlier Ratio: 0.00%
  Column: salary
     - Method: STANDARD
     - Reason: p-value 0.966 > 0.05
     - Skewness: 0.08 | Outlier Ratio: 0.00%
============================================================
Step SCALE Complete.

PIPELINE FINISHED
==================================================

====================== DATA QUALITY REPORT ======================

--- OVERALL DATA QUALITY SCORE ---
  Final Quality Score: 66.67/100
     - Completeness Score                 : 100.00     (Weight: 40%)
     - Data Consistency Score             : 88.89      (Weight: 0%)
     - Distribution Improvement Score     : 0.00       (Weight: 20%)
     - Dimensionality Efficiency Score    : 0.00       (Weight: 10%)

--- PIPELINE PROCESS SUMMARY ---
  - Imputation: Successfully filled 3 missing values.
  - Outliers: Removed 1 rows identified as outliers.
  - Encoding: Transformed 2 categorical columns into 7 new features.
  - Scaling: Standardized the scale for 2 numerical columns.

--- AUTOMATIC DECISION DETAILS ---
  - SCALING:
    - Column 'age': Used 'STANDARD' because: p-value 0.207 > 0.05.
    - Column 'salary': Used 'STANDARD' because: p-value 0.966 > 0.05.
  - ENCODING:
    - Column 'city': Selected method 'OHE'.
    - Column 'education': Selected method 'OHE'.

=================================================================

        age    salary      city education
0 -1.143871 -1.506730   Jakarta        S1
1 -0.672172 -0.705145   Bandung        S2
2  1.686325  0.497233   Jakarta        S1
3  0.742927  0.898026  Surabaya        S3
4  1.214626 -1.105937   Bandung        S1

In [41]:
df = pd.read_csv('../dataset_for_examples/AmesHousing.csv')

In [42]:
df_cleaned = data_cleaner(
    data=df,
    target_column='SalePrice'
)

=====================================================
||      NOVENTIS AUTOMATED DATA CLEANER      ||
=====================================================
Target column 'SalePrice' identified.
STARTING NOVENTIS DATA CLEANER PIPELINE
==================================================

Executing Step: IMPUTE...
Step IMPUTE Complete.

Executing Step: OUTLIER...
Step OUTLIER Complete.

Executing Step: ENCODE...
============================================================
üöÄ NOVENTIS ENCODER - ANALYSIS REPORT
============================================================
üìä Analyzed 43 categorical columns

ValueError: Found input variables with inconsistent numbers of samples: [1444, 2930]